name: Test against RabbitMQ alphas

on:
  schedule:
    - cron:  '0 4 * * *'
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        rabbitmq-image:
          - pivotalrabbitmq/rabbitmq:v4.0.x-otp27
          - pivotalrabbitmq/rabbitmq:v4.1.x-otp27
          - pivotalrabbitmq/rabbitmq:main-otp27
    name:  Test against ${{ matrix.rabbitmq-image }}
    steps:
      - uses: actions/checkout@v4
      - name: Checkout tls-gen
        uses: actions/checkout@v4
        with:
          repository: rabbitmq/tls-gen
          path: './tls-gen'
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: 'maven'
      - name: Start broker
        run: ci/start-broker.sh
        env:
          RABBITMQ_IMAGE: ${{ matrix.rabbitmq-image }}
      - name: Start toxiproxy
        run: ci/start-toxiproxy.sh
      - name: Display Java version
        run: ./mvnw --version
      - name: Test
        run: |
          ./mvnw verify -Drabbitmqctl.bin=DOCKER:rabbitmq --no-transfer-progress \
            -Dca.certificate=./tls-gen/basic/result/ca_certificate.pem \
            -Dclient.certificate=./tls-gen/basic/result/client_$(hostname)_certificate.pem \
            -Dclient.key=./tls-gen/basic/result/client_$(hostname)_key.pem
      - name: Stop toxiproxy
        run: docker stop toxiproxy && docker rm toxiproxy
      - name: Stop broker
        run: docker stop rabbitmq && docker rm rabbitmq
      - name: Start cluster
        run: ci/start-cluster.sh
        env:
          RABBITMQ_IMAGE: ${{ matrix.rabbitmq-image }}
      - name: Test against cluster
        run: ./mvnw test -Dtest="*ClusterTest" -Drabbitmqctl.bin=DOCKER:rabbitmq0
      - name: Stop cluster
        run: docker compose --file ci/cluster/docker-compose.yml down
